body {
  margin: 0;
  padding: 0;
}

canvas {
  /*position: absolute;*/
  top: 0;
  left: 0;
  border: 1px solid black;
}

.debugDot {
  position: absolute;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  left: calc(1282px / 2);
  top: calc(722px / 2);
  background: red;
}

button {
  display: block;
}
